{% extends 'TemplateBundle:Layout:frontpage.html.twig' %}

{% block content %}

<center><h2>{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</h2>
<br>
<style type="text/css">
    table{border-collapse: collapse;width: 40%;font-size: 10pt;} table,th,td{border:1px solid #cfbfa6;} th{background:#cfbfa6;color: white;}
</style>
<table id="example2" class="table table-bordered table-hover">
{% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}
</table>
</center>
{% endblock %}
