{% extends 'TemplateBundle:Layout:backpage.html.twig' %}





{% block content %}
    <center><h1>Welcome to the Concours:update page</h1>
        <fieldset style="width: 50%">
            <form method="POST">

                {{ form_start(form) }}
                {{ form_end(form) }}


            </form>
        </fieldset>
    </center>
{% endblock %}


