{% extends "::base.html.twig" %}

{% block title %}soinBundle:centreToilettage:supprimerCentreTilettage{% endblock %}

{% block body %}
<h1>Welcome to the centreToilettage:supprimerCentreTilettage page</h1>
{% endblock %}
