{% extends 'TemplateBundle:Layout:backpage.html.twig' %}
{% block content %}
    <center><h1>Ajouter Une Categorie</h1></br>
        <fieldset style="width: 50%">
            <legend>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </legend>
        </fieldset>
    </center>
{% endblock %}